{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=T('FrEE Symposium 2017')}}</h1>
          <h2><small>{{=response.subtitle or ''}}</small></h2>
        {{pass}}
      </div>
    </header>
{{end}}


<p class="lead">{{=B('About the meeting')}}</p>
{{=T('Welcome to the I Symposium in Frontiers, Ecology & Evolution at Silwood Park that will take place in September 2017.')}}



