{{extend 'layout.html'}}

{{block header}}
    <header class="container-fluid background">
      <div class="jumbotron text-center">
        {{if response.title:}}
        <h1>{{=T('FrEE Symposium 2017')}}</h1>
          <h2><small>{{=response.subtitle or ''}}</small></h2>
        {{pass}}
      </div>
      <div id="cf2" style="float:center">
  <img style="margin-right:40px;margin-bottom:20px;" class="right" src="/freesymp/static/images/Imperial_White_on_clear_background_logo.svg" width="120" vspace="0" hspace="0"/>

    </header>
{{end}}


<p class="lead">{{=B('About the meeting')}}</p>
{{=T('Welcome to the I Symposium in Frontiers in Ecology & Evolution at Silwood Park that will take place in September 2017.')}}
<br />
<br />
Starting this historic year, the FrEE Symposium will be a three-day summer event co-organized by a committee of Masters and  PhD students at the <a target="_blank" 
href="http://www.imperial.ac.uk/silwood-park/">Silwood Park campus</a>  (<a target="_blank" href="https://www.imperial.ac.uk/life-sciences/">Department of Life Sciences</a> of Imperial College London. 
This is an exciting opportunity for students to present their research, see what colleagues are up to, and discuss challenges in Ecological and Evolutionary research with peers and seniors. 

The symposium will be broken into concurrent sessions of focal research themes, and morning and afternoon sessions will be kicked off with keynote lectures. We already have four great speakers lined up – <a target="_blank" href="http://www.ucl.ac.uk/mank-group/">Prof. Judith Mank</a>, <a target="_blank" href="http://www.plantecol.org/lindsay/">Dr. Lindsay Turnbull</a>, <a target="_blank" href="http://www.exeter.ac.uk/esi/people/academicandhonorary/osborne/">Prof Juliet Osborne</a> and <a target="_blank" href="http://www.angelasaini.co.uk/">Angela Saini</a>.

Please register using the menu above.

<hr>


