{{extend 'layout.html'}}

<center>
<br/> 
<h1>Program & Agenda</h1>
<br/>
</center>


<u><h3>Tuesday 5th September</h3></u>
<h5> 
  <br/>09:00-10:00 – Plenary: George McGavin<br>
  <UL>
    <br/><i/>Title: “Preaching to the converted?”<i><br>
  </UL>  
  <br/>10:00-10:30 – Coffee Break<br>
  <br/>10:30-12:00 – Student talks<br>
  <br/>12:00-13:00 – Lunch break<br>
  <br/>13:00-14:00 – Plenary: Judith Mank<br>
  <UL>
    <br/><i/>   Title: “The genomic causes and consequences of sexual selection”<i><br>
  </UL>
  <br/>14:00-14:30 – Coffee Break<br>
  <br/>14:30-16:30 – Student talks<br>
  <br/>17:00 onwards - Photography exhibition <br>
</h5>
<br/>
<br/>


<u><h3>Wednesday 6th September</h3></u>
<h5> 
  <br/>09:00-10:00 – Plenary: Juliet Osborne<br>
  <UL>
    <br/><i/>Title: “Bees and Pollination – in a changing environment”<i><br>
  </UL> 
  <br/>10:00-10:30 – Coffee Break<br>
  <br/>10:30-12:00 – Student talks<br>
  <br/>12:00-13:00 – Lunch break<br>
  <br/>13:00-14:00 – Plenary: Lindsay Turnbull<br>
  <UL>
    <br/><i/>Title: "Plant herbivores as agents of natural selection"<i><br>
  </UL> 
  <br/>14:00-14:30 – Coffee Break<br>
  <br/>14:30-16:30 – Student talks <br>
  <br/>17:00 onwards - University Challange Quiz + Karaoke! <br>
</h5>

<br/>
<br/>


<u><h3>Thursday 7th September</h3></u>
<h5>
  <br/> 09:00-10:00 – Plenary:Bea Mass<br>
  <UL>
    <br/><i/>Title: TBC<i><br>
  </UL> 
  <br/>10:30-10:30 – Coffee Break<br>
  <br/>10:30-12:00 – Student talks<br>
  <br/>12-13:00 – Lunch break<br>
  <br/>13:00-14:00 – Plenary: Angela Saini<br>
  <UL>
    <br/><i/>Title: How Science Got Women Wrong<i><br>
  </UL> 
  <br/>14:00-14:30 – Coffee Break<br>
  <br/>14:30-16:30 – Student talks<br>
  <br/>17:00 onwards -  Beer and cider festival and live music<br>
</h5>

<br/>
<br/>
