{{extend 'layout.html'}}

<center>
<br/> 
<h1>Program & Agenda</h1>
<br/>
</center>


<u><h3>Tuesday 5th September</h3></u>
<h5> 
<br/>09:00-10:00 – Plenary: George McGavin<br>
<br/>10:00-10:30 – Coffee Break<br>
<br/>10:30-12:00 – Student talks<br>
<br/>12:00-13:00 – Lunch break<br>
<br/>13:00-14:00 – Plenary: Judith Mank<br>
<br/>14:00-14:30 – Coffee Break<br>
<br/>14:30-16:30 – Student talks<br>
<br/>17:00 onwards - Photography exhibition <br>
</h5>
<br/>
<br/>


<u><h3>Wednesday 6th September</h3></u>
<h5> 
	<br/>09:00-10:00 – Plenary: Juliet Osborne<br>
	<br/>10:00-10:30 – Coffee Break<br>
	<br/>10:30-12:00 – Student talks<br>
	<br/>12:00-13:00 – Lunch break<br>
	<br/>13:00-14:00 – Plenary: Angela Saini<br>
	<br/>14:00-14:30 – Coffee Break<br>
	<br/>14:30-16:30 – Student talks <br>
	<br/>17:00 onwards - University Challange Quiz + Karaoke! <br>
</h5>

<br/>
<br/>


<u><h3>Thursday 7th September</h3></u>
<h5>
	<br/> 09:00-10:00 – Plenary: Lindsay Turnbull<br>
	<br/>10:30-10:30 – Coffee Break<br>
	<br/>10:30-12:00 – Student talks<br>
	<br/>12-13:00 – Lunch break<br>
	<br/>13:00-14:00 – Plenary: Bea Mass<br>
	<br/>14:00-14:30 – Coffee Break<br>
	<br/>14:30-16:30 – Student talks<br>
	<br/>17:00 onwards -  Beer festival and Jazz<br>
</h5>

<br/>
<br/>
