{{extend 'layout.html'}}

<center>
<br/> 
<h1>Session Themes</h1>
<br/>
</center>

<h4> 

<br/> Behavior {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 5-Sep-17, 10:30 - 16:30 -  Chaired by: Samraat Pawar <br>

<br/> Pesticide effects {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 5-Sep-17, 10:30 - 12:00 -  Chaired by: Ana Rodriguez <br>

<br/> Conservation Biology I {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 5-Sep-17, 14:30 - 16:45 -  Chaired by: Claire Wilkinson <br>

<br/> Evolutionary Biology {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 5-Sep-17, 10:30 - 15:00 -  Chaired by: Marco Casteillo <br>

<br/> Distribution Ecology {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 6-Sep-17, 10:30 - 16:15, Chaired by: Phil Chapman<br>

<br/> Ecology {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 6-Sep-17, 14:30- 16:15 - TBD , Chaired by: Adam Sharp<br>

<br/> Metabolic Ecology {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 6-Sep-17, 10:30 - 12:00, Chaired by: Tom Smith<br>

<br/> Environmental Change {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 6-Sep-17, 14:30 - 16:30, Chaired by: Dan Swindlehurst<br>

<br/> Ecological Theory / Modelling {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 6-Sep-17, 10:30 - 15:00, Chaired by: Richard Sheppard<br>

<br/> Conservation Biology II {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 7-Sep-17, 10:30 - 12:00, Chaired by: Jack Hatfield<br>

<br/> Climatic Gradients and Climate change effects {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 7-Sep-17, 14:30 - 16:00, Chaired by: David Sandoval<br>

<br/> Plant traits / Biology {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 7-Sep-17, 10:30 - 11:45, Chaired by: Edicson Parra-Sanchez<br>

<br/> Genomics / Molecular Ecology {{=A(' (See schedule)',_href=URL('default', 'schedule'))}}, 7-Sep-17, 14:30 - 16:00, Chaired by: Chris Adams<br>

</h4>
